exec
.idea
*.pyc
.tox
redken.sh
stampy.db
stampy.log
redken.log
redken.db
push-to-test.sh
.vscode
.history
.markdownlint.json
.coverage*
.coveralls.yml
./.testrepository/
.testrepository*
/cover
/covhtml
.eggs
